*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
body{
    background-color: #ccc7c77d;
}
#wrapper{
    height: 100vh;
    width: 100%;
    background-color: #ccc7c77d;
    position: relative;
    padding-top: 0.2px;
} 
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav a{
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    color: black;
}
#nav a:hover{
    background-color: rgb(237, 218, 218);
}
#nav h2{
    font-size: 24px;
    font-weight: 500;
}
a i{
background-color: rgba(38, 0, 255, 0.243);
height: 80%;
width: 80%;
border: 2px solid black;
border-radius: 50%;
}
#start h1{
    height: 100%;
    width: 10%;
    /* display: flex; */
    font-family: monument;
    font-size: 40px;
    /* letter-spacing: -1px; */
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    line-height: 35px;
    text-shadow:1px 1px 5px rgb(169, 122, 122);
}
#nav a:nth-last-child(4){
    width: 28%;
}
#nav a:nth-last-child(5){
    width: 28%;
}
#nav a:nth-last-child(1){
    width: 20%;
}
#center{
    width: 100%;
    height: 90%;
    padding: 4vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 52%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    bottom: 0%;
    padding: 3vw;
    color: #fff ;
    background-color: rgba(47, 46, 46, 0.05);
    backdrop-filter: blur(4px);
}
#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3.5vw;
    /* mix-blend-mode:difference; */
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid white;
    border-bottom: 2px solid white;
}
#over2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid white;
    padding: 1.5vw 0;
}
#over2 h4{
font-size: 1.4vw;
font-weight: 500;
}
#over2 img{
height: 2vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    padding: 1vw;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    /* backgr ound-color: blue; */
    display: inline-block; 
    padding: 2vw;
    animation-name: anime ;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll img{
    /* display: none; */
    height: 110%;
    border-radius: 50%;
    width: 16.5%;
    object-fit: cover;
    object-position: center;
    /* margin: 1vw; */
    background-color: violet;
}
@keyframes anime{
    from {
transform: translateX(0);
    }
    to {
transform: translateX(-100%);
    } 
}
#cards{
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px ;
    gap: 100px;
}
#cards #elem{
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    border: 1px solid black;
    padding: 5px 20px;
    gap:20px;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: linear-gradient(to bottom right,rgba(180, 199, 106, 0.524),rgba(180, 129, 135, 0.481),rgba(184, 199, 199, 0.696));
}
#elem:hover{
    transform: scale(1.4);
    transition-duration: 1s;
}
a h2{
padding: 20px;
text-transform: uppercase;
}
        .dropdown {
            display: none; /* Initially hide the dropdown */
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            z-index: 1;
            height: auto;
            padding: 40px;
            width: 720px;
        }

        #nav div:hover .dropdown {
            display: block; /* Show dropdown on hover */
        }

        .dropdown a {
            display: block; /* Make dropdown items block elements */
            /* padding: 8px 16px; */
            text-decoration: none;
            color: black;
            text-align: left;
                font-size: 20px;
            line-height: 50px;
        }

        .dropdown a:hover {
            background-color: rgb(237, 218, 218); /* Change background on hover */
        }
 #ddh h2{
text-transform: uppercase;
padding: 15px;
 }
 .dropdown2 {
    display: none; /* Initially hide the dropdown */
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* right: 2%; */
    height: auto;
    padding: 40px;
    width: 1100px;
}

#nav div:hover .dropdown2 {
    display: block; /* Show dropdown on hover */
}

.dropdown2 a {
    display: block; /* Make dropdown items block elements */
    /* padding: 8px 16px; */
    text-decoration: none;
    color: black;
    text-align: left;
        font-size: 20px;
    line-height: 50px;
}

.dropdown2 a:hover {
    background-color: rgb(237, 218, 218); /* Change background on hover */
}
.bg1{
    background-image: url(https://i.pinimg.com/564x/13/d8/36/13d83695224ace98984aa3902b3aa0eb.jpg);
}
.bg2{
    background-image: url(https://i.pinimg.com/236x/f9/a7/a3/f9a7a30e3f6cada77cbd30f47f5a430f.jpg);
}
.bg3 {
    background-image: url(https://i.pinimg.com/236x/b3/0d/8b/b30d8b2d10d3dddfdd68ac232337096a.jpg);
}
.bg4{
    background-image: url(https://i.pinimg.com/236x/b8/40/7a/b8407a78c8f9a7b9c44d8e5ee10d1fa0.jpg);
}
.bg5{
    background-image: url(https://i.pinimg.com/236x/ed/77/60/ed7760defcfea31399c78015e3f15d7b.jpg);
}
.bg7{
    background-image: url(https://i.pinimg.com/236x/85/2f/b4/852fb4b9a4f57adc2dc09ddc16dde3d9.jpg);
}
.bg{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.bg h2{
    color: white;
    mix-blend-mode: difference;
}
 

